* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

/* Mobile Start */
.hero {
  background-color: #151B28;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.desktop-menus {
  display: none;
}

.container {

  .container-general-title {
    background-color: #151B28;

    h1,
    h3 {
      text-align: center;
    }

    h1 {
      font-size: 36px;
      font-weight: 600;
      line-height: 44px;
      letter-spacing: -2%;
      color: white;
      margin-inline: 16px;
      padding-block: 32px;
    }

    h3 {
      font-size: 18px;
      color: #A5ACBA;
      line-height: 26px;
      margin-inline: 16px;
      padding-bottom: 40px;
    }

    .btns {
      display: flex;
      justify-content: center;
      padding-bottom: 10px;

      .btn-montly {
        color: white;
        background-color: #333B48;
        text-decoration: none;
        padding: 9px 58px 9px 58px;
      }

      .btn-yearly {
        color: #A5ACBA;
        background-color: #29303b;
        text-decoration: none;
        padding: 9px 58px 9px 58px;
      }
    }
  }

  .payment-plans-background-color {
    background-color: #151B28;
    padding-top: 32px;

    .payment-plan {
      /* background-color: #2E3545; */
      width: 330px;
      margin-inline: 16px;
      display: block;
      margin-inline: auto;
      padding-bottom: 16px;

      h3,
      h4 {
        background-color: #49556D;
        padding-inline: 16px;
      }

      .payment-montly {
        color: #A5ACBA;
        line-height: 24px;
        padding-top: 24px;
        padding-bottom: 24px;
      }

      span {
        font-size: 32px;
        font-weight: 600;
        color: white;
        line-height: 40px;
      }

      h3 {
        font-size: 18px;
        font-weight: 600;
        color: white;
        line-height: 24px;
        padding-bottom: 8px;
      }

      .packet-description {
        color: #A5ACBA;
        line-height: 24px;
        padding-bottom: 16px;
        margin-bottom: 1px solid #2E3545;
      }

      .checkboxes-and-texts {
        width: 330px;
        background-color: #49556D;
        padding-bottom: 24px;


        .checkbox-and-text {
          display: flex;
          gap: 12px;

          img {
            margin-left: 10px;
            margin-bottom: 24px;
          }

          .text {
            color: #F9F9F9;
            line-height: 24px;
          }
        }
      }

      a {
        text-decoration: none;
        color: white;
        background-color: #437EF7;
        padding: 12px 90px 12px 90px;
        margin-top: 24px;
        margin-inline: 24px;
      }

    }
  }

  .support {
    line-height: 24px;
    background-color: #151B28;
    color: white;
    padding-bottom: 32px;
  }

}

.grid-container-1 {
  display: grid;
  /* grid-template-columns: repeat(1, 1fr); */
  margin-top: 32px;
  margin-inline: 16px;

  .item-1 {
    margin-inline: 18px;
    margin-bottom: 40px;

    img {
      margin-bottom: 16px;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: -2%;
      margin-bottom: 8px;
    }

    h4 {
      font-size: 16px;
      color: #5F6D7E;
      line-height: 24px;
      letter-spacing: -0.1px;
      margin-bottom: 16px;
    }

    a {
      font-size: 15px;
      font-weight: 600;
      text-decoration: none;
      color: #437EF7;
      display: flex;
    }

    .icons-right {
      margin-left: 6px;
    }
  }
}

.redefining {
  margin-inline: 16px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;

  h2 {
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 12px;
  }

  h4 {
    color: #5F6D7E;
    line-height: 24px;
  }
}

.sector-informations {
  margin-inline: 16px;
  margin-bottom: 32px;

}
.sector-information {
  font-size: 14px;
  line-height: 20px;
  color: #437EF7;
  margin-bottom: 8px;
}

.digital-vr {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 16px;
}

.detail {
  line-height: 24px;
  color: #5F6D7E;
  margin-bottom: 32px;
}

.sector-informations a {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  background-color: #437EF7;
  text-decoration: none;
  color: white;
  padding: 12px 18px 12px 18px;
  border-radius: 5px;
}

.photo {
  display: block;
  width: 343px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.customer-comments-title {
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 40px;
  text-align: center;
  display: block;
  margin-inline: auto;
}

.ratings-comments-avatars-userinformations {
  margin-inline: 16px;

  .rating-comment-avatar-userinformations {
    margin-inline: 3px;
    margin-bottom: 40px;

    .rating {
      margin-bottom: 16px;
    }

    .comment {
      font-weight: 500;
      margin-bottom: 16px;
    }

    .avatar-username-userinformations {
      display: flex;
      flex-direction: row;
      margin-bottom: 17px;


      .avatar {
        background-color: white;

        img {
          width: 40px;
          height: 40px;
          background-color: white;
        }
      }

      .userinformations {

        h5 {
          font-size: 15px;
          font-weight: 500;
          line-height: 22px;
          margin-left: 15px;
        }

        p {
          color: #5F6D7E;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          margin-left: 15px;
          justify-content: center;
        }
      }

    }
  }
}

.login {
  background-color: #151B28;
  padding-bottom: 24px;
  padding-top: 40px;
  padding-inline: 16px;

  h2 {
    font-size: 28px;
    color: white;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 16px;
    padding-bottom: 32px;
  }

  .login-and-signup-buttons {
    padding-bottom: 32px;
  }

  a {
    text-align: center;
    text-decoration: none;
    display: block;
  }

  .sign-up {
    background-color: #437EF7;
    color: white;
    padding: 13px 120px 13px 130px;
    border-radius: 5px;
    margin-bottom: 16px;
  }

  .log-in {
    background-color: #2C3444;
    color: white;
    padding: 13px 120px 13px 125px;
    border-radius: 5px;
  }
}

hr {
  border: 1px solid #2C3444;
}

.footer {
  background-color: #151B28;
  padding-top: 24px;
  padding-inline: 16px;

  .write {
    color: #A5ACBA;
    line-height: 24px;
    padding-bottom: 24px;
  }

  .grid-container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    strong {
      color: white;
    }

    h4 {
      padding-bottom: 16px;
      line-height: 24px;
      color: #A5ACBA;
    }

    .about-us {
      padding-right: 20px;
      padding-bottom: 24px;
    }

    .products {
      padding-left: 20px;
    }

    .resources {
      padding-right: 20px;
    }

    .company {
      padding-left: 20px;
    }
  }
}

.social-media {
  background-color: #151B28;
  color: #A5ACBA;
  display: flex;
  justify-content: space-between;

  h4 {
    line-height: 24px;
    display: flex;
    align-items: center;
  }

  .links {
    img {
      padding-top: 24px;
      padding-right: 16px;
      padding-bottom: 32px;
    }
  }
}

/* Mobile End */



/* Tablet Start */
@media (width > 767px) {
  .desktop-menus {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .payment-plans-tablet {
    background-color: #151B28;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;

    .payment-plans-background-color {
      .payment-plan {
        margin-inline: 20px;
      }
    }
  }

  .support {
    display: none;
  }

  .grid-container-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .photo {
    display: flex;
    margin-inline: auto;
  }

  .ratings-comments-avatars-userinformations {
    display: flex;
    flex-wrap: wrap;
    margin-inline: 32px;

    .rating-comment-avatar-userinformations {
      width: 336px;
    }
  }

  .login {
    a {
      display: inline;
    }

    .sign-up {
      background-color: #437EF7;
      color: white;
      padding: 13px 50px 13px 50px;
      border-radius: 5px;
      margin-bottom: 16px;
      margin-right: 16px;
    }

    .log-in {
      background-color: #2C3444;
      color: white;
      padding: 13px 50px 13px 50px;
      border-radius: 5px;
    }
  }
}

/* Tablet End */





/* Computer Start */
@media (width > 1109) {
  .desktop-menus {
    display: flex;
  }

  ul {
    list-style: none;

  }

  a {
    color: white;
  }


  .hamburger-menu {
    display: none;
  }

  .container {

    .container-general-title {

      h1,
      h3 {
        width: 650px;
      }
    }
  }

  .sector-informations-and-photo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1110px;
    margin: 0 auto;
    gap: 64px;
  }

  .sector-informations {
    flex: 1;
    margin: 0;
  }

  .photo {
    width: 500px;
    margin: 0;
  }

  .rating-comment-avatar-userinformations {
    width: 336px;
    margin-right: 32px;
  }

  .grid-container-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .login {
    display: flex;

    .sign-up {
      padding: 13px 30px 13px 30px;
    }

    .log-in {
      padding: 13px 30px 13px 30px;
    }
  }

  .grid-container-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Computer End */