* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

.hero {
  background-color: #2E3545;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.container {
  background-color: #2E3545;

  .container-general-title {

    h1,
    h3 {
      text-align: center;
    }

    h1 {
      font-size: 36px;
      font-weight: 600;
      line-height: 44px;
      letter-spacing: -2%;
      color: white;
      margin-inline: 16px;
      padding-block: 32px;
    }

    h3 {
      font-size: 18px;
      color: #A5ACBA;
      line-height: 26px;
      margin-inline: 16px;
      padding-bottom: 40px;
    }

    .btns {
      padding-bottom: 10px;
      margin-inline: 16px;
      
      .btn-montly {
        color: white;
        background-color: #333B48;
        text-decoration: none;
        padding: 9px 58px 9px 58px;
      }

      .btn-yearly {
        color: #A5ACBA;
        background-color: #29303b;
        text-decoration: none;
        padding: 9px 58px 9px 58px;
      }
    }
  }
}